<%= link_to image_tag("logo.png", :class => "logo"), {:action => 'index', :controller => 'home'}%>


<div class="language">
  <p class="language_button" id="fr"><%= link_to_unless I18n.locale == :fr, "fr", new_corporation_path(params[:locale]=:fr) %></p>
  <p class="language_button" id="en"><%= link_to_unless I18n.locale == :en, "en", new_corporation_path(params[:locale]="") %></p>
  <p class="language_button" id="nl"><%= link_to_unless I18n.locale == :nl, "nl", new_corporation_path(params[:locale]=:nl) %></p>
</div>


<div id="new-corp" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <p><%= t('new_corp_intro') %></p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="line-form">
      <%= form_for @corporation do |f| %>
      <div class="col-md-6">
          <%= f.text_field :name, required: true, :placeholder => t('corp_name'), :class => "form-control" %>
          <%= f.text_field :division, :placeholder => t('division'), :class => "form-control" %>
      </div>
      <div class="col-md-6">
          <%= f.text_field :contact_first, required: true, :placeholder => t('first_name'), :class => "form-control" %>
          <%= f.text_field :contact_last, required: true, :placeholder => t('last_name'), :class => "form-control" %>
          <%= f.text_field :email, required: true, :placeholder => "Email", :class => "form-control" %>
      <br><br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <%= f.submit t('enroll'), :class => "btn btn-block btn-contact btn-cs" %>
      <% end %>
      </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<%= javascript_tag do %>

  /*=================================================
  hide the languages buttons not needed
  =================================================*/

  $(document).ready(function() {
    console.log('test')
    $('.language_button').toggle().addClass('hidden');
    var locale = <%= I18n.locale.to_s %>;
    console.log(locale)
    $(locale).toggle().addClass('shown').removeClass('hidden');
    $('.shown').click(function(){
      $('.hidden').fadeIn().addClass('shownOther').removeClass('hidden');
      setTimeout(function(){ $('.shownOther').fadeOut().addClass('hidden').removeClass('shownOther'); }, 2000);
      console.log('click')
    });

  });

<% end %>
