<%= image_tag "logo.png", :class => "logo" %>


<div id="new-corp" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h2><%= t('welcome', first_name: @corporation.contact_first)  %></h2>
        </br>
        <p><b><%= t('corp_name') %> :</b> <%= @corporation.name %></p>
        <p><b><%= t('division') %> :</b> <%= @corporation.division %></p>
        </br>
    </div>
    <div class="col-md-2"></div>
  </div>


  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <p><b><%= t('new_emails_box') %></b></p>
      <%= form_for [@corporation, User.new] do |f| %>
      <!-- was @user but doesn't help for showing results! -->
        <!-- Don't use f. and define it as text_area emails -->
        <%= f.text_area :email, :placeholder => t('emails_placeholder'), :class => "form-control" %>
        <%= f.submit t('invite'), :class => "btn btn-block btn-contact btn-cs" %>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <div class="row">
        <div class="col-md-8"><p>Percentage of employees who have completed the test</p></div>
        <div class="col-md-4"> <p> 12% </p> </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><%= @users %> <%= @users.size %></div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-md-1"></div>
    </div>
  </div>






  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="btn btn-block btn-contact btn-cs">
        <%= link_to t('all_personnalities'), all_answers_path , :target => "_blank" %>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <br>

  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="btn btn-block btn-contact btn-cs">
        <%= link_to t('home'), root_path %>
      </div>
    </div>
    <div class="col-md-4"></div>
    </div>
  </div>

</div>




