<%= image_tag "logo.png", :class => "logo" %>


<div id="new-corp" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h2><%= t('welcome', first_name: @corporation.contact_first)  %></h2>
        </br>
        <p><b><%= t('corp_name') %> :</b> <%= @corporation.name %></p>
        <p><b><%= t('division') %> :</b> <%= @corporation.division %></p>
        </br>
    </div>
    <div class="col-md-2"></div>
  </div>


  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <p><b><%= t('new_emails_box') %></b></p>
      <%= form_for [@corporation, User.new] do |f| %>
      <!-- was @user but doesn't help for showing results! -->
        <!-- Don't use f. and define it as text_area emails -->
        <%= f.text_area :email, :placeholder => t('emails_placeholder'), :class => "form-control" %>
        <%= f.submit t('invite'), :class => "btn btn-block btn-contact btn-cs" %>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <div class="row">
        <div class="col-md-8">
          <p><%= t('percentage_taken') %></p>
        </div>
        <div class="col-md-4">
          <p><%= @array.length %> / <%= @users.size %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <% for i in (1..8) do  %>
            <div class="row">
              <div class="col-md-8">
                <p><%= t("category#{i}") %></p>
              </div>
              <div class="col-md-4">
                <p><%= @array.count(i) %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>



  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= link_to t('all_personnalities'), all_answers_path , :target => "_blank", :class => "btn btn-block btn-contact btn-cs"  %>
    </div>
    <div class="col-md-4"></div>
  </div>

  <br>

  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= link_to t('finish_campaign'), corporation_finish_path(@corporation) , :target => "_blank", :class => "btn btn-block btn-contact btn-cs" %>
    </div>
    <div class="col-md-4"></div>
  </div>

  <br>

  <div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= link_to t('home'), root_path, :class => "btn btn-block btn-contact btn-cs" %>
    </div>
    <div class="col-md-4"></div>
    </div>
  </div>

</div>




