<h1>A company has finished their campaign</h1>

<p><%= @name %></p>
<p><%= @id %></p>
<p><%= @contact_first %></p>
<p><%= @contact_last %></p>
<p><%= @email %></p>


<p>This corporation has finished their campaign.
They will expect their results soon</p>
