<%= image_tag "logo.png", :class => "logo" %>


<div id="new-corp" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <p><%= t('user_details') %></p>
    </div>
    <div class="col-md-2"></div>
  </div>


  <div class="language">
    <p class="language_button" id="fr">
      <%= link_to_unless I18n.locale == :fr, "fr", corporation_user_edit_path(params[:locale]=:fr, params[:corporation_id], params[:token]) %>
    </p>
    <p class="language_button" id="en">
      <%= link_to_unless I18n.locale == :en, "en", corporation_user_edit_path(params[:locale]="", params[:corporation_id], params[:token]) %>
    </p>
    <p class="language_button" id="nl">
      <%= link_to_unless I18n.locale == :nl, "nl", corporation_user_edit_path(params[:locale]=:nl, params[:corporation_id], params[:token]) %>
    </p>
  </div>


  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <br>
      <br>
      <%= form_for @user, url: corporation_user_update_path, :html => { :class => "line-form"} do |f| %>
        <%= f.text_field :first_name, required: true,  :placeholder => t('first_name'), :class => "form-control" %>
        <br>
        <%= f.text_field :last_name, required: true, :placeholder => t('last_name'), :class => "form-control" %>
        <br>
    </div>
    <div class="col-md-2"></div>
  </div>


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= f.submit t('thanks'), :class => "btn btn-block btn-contact btn-cs" %>
    <% end %>
  </div>
  <div class="col-md-4"></div>
  </div>
</div>

<%= javascript_tag do %>

  /*=================================================
  hide the languages buttons not needed
  =================================================*/

  $(document).ready(function() {
    console.log('test')
    $('.language_button').toggle().addClass('hidden');
    var locale = <%= I18n.locale.to_s %>;
    console.log(locale)
    $(locale).toggle().addClass('shown').removeClass('hidden');
    $('.shown').click(function(){
      $('.hidden').fadeIn().addClass('shownOther').removeClass('hidden');
      setTimeout(function(){ $('.shownOther').fadeOut().addClass('hidden').removeClass('shownOther'); }, 2000);
      console.log('click')
    });

  });

<% end %>
