<div class="personnality">
  <h2>
    <%= t('user_welcome') %> <%= @user.first_name %> <%= @user.last_name %>
  </h2>
  <br>
  <%= @user.email %>
  <br>

  <br>
  <br>
  <br>
  <%= form_for @answer, url: ccorporation_answer_create_path do |f| %>
    <% @questions.each do |question| %>
      <%= question.text %><br>
      <div class = "row">
        <div class = "col-md-3 col-xs-3">
          agree
        </div>
        <div class = "col-md-3 col-xs-3">
          <%= f.select :question_answer, [[0,0],[1,1],[2,2],[3,3],[4,4],[5,5],[6,6]] %>
        </div>
        <div class = "col-md-3 col-xs-3">
          disagree
        </div>
      </div>

      <!-- save_answer -->
      <br>
      <br>
    <% end %>
    <%= f.submit %>
  <% end %>

</div>
