<%= image_tag "logo.png", :class => "logo" %>


<div id="new-corp" class="container">

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h2><%= t('user_welcome') %> <%= @user.first_name %> <%= @user.last_name %></h2>
        </br>
        <p><%= @user.email %></p>
        <p><b><%= t('user_do_the_test') %></b></p>
        <hr>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <%= form_tag (corporation_answer_create_path(@corporation, @user, token: @user.token )) do %>
        <% @questions.each_with_index do |question, index| %>
          <div class = "row">
            <div class = "col-md-12 col-xs-12">
              <p><b><%= t('question') %> <%= question.id %></b>
              <br>
              <%= t(question.text) %></p>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-4 col-xs-4" style="color:red" >
              <%= t('disagree') %>
            </div>
            <div class = "col-md-4 col-xs-4">
              <input type="range" min="-2" max="2" <% select_tag "question_result[#{question.id}]".html_safe %>/>
            </div>
            <div class = "col-md-4 col-xs-4" style="color:green">
              <%= t('agree') %>
            </div>
          </div>
          <!-- save_answer -->
          <br>
          <br>
        <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= submit_tag t('submit'), :class => "btn btn-block btn-contact btn-cs" %>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>

<style>
  input[type='range']{
    -webkit-appearance: none;
    border-radius:3px 3px 3px 3px;
    /*box-shadow: inset 0 0 5px #333;*/
    background-color: black ;
    height: 8px;
    vertical-align: middle;
  }
</style>


