<%= image_tag "logo.png", :class => "logo" %>


<div id="new-corp" class="container">

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h2><%= t('user_welcome') %> <%= @user.first_name %> <%= @user.last_name %></h2>
        </br>
        <p><%= @user.email %></p>
        <p><b><%= t('user_do_the_test') %></b></p>
        <hr>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <%= form_tag (corporation_answer_create_path(@corporation, @user, token: @user.token )) do %>
        <% @questions.each_with_index do |question, index| %>
          <div class = "row">
            <div class = "col-md-12 col-xs-12">
              <p><b><%= t('question') %> <%= question.id %></b>
              <br>
              <%= question.text %></p>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-4 col-xs-4" style="color:red" >
              <%= t('disagree') %>
            </div>
            <div class = "col-md-4 col-xs-4">
              <div class='slider' id='designQuality'>
                <ul role='presentation'>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <div></div>
                <input class='answer' type='hidden' <% range_field_tag "question_result[#{question.id}]", nil, in: -2..2 %>/>
              </div>
            </div>
            <div class = "col-md-4 col-xs-4" style="color:green">
              <%= t('agree') %>
            </div>
          </div>
          <!-- save_answer -->
          <br>
          <br>
        <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= submit_tag %>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>


<script>
$(document).ready(function(){

  var tooltipElement = $('<div class="ui-slider-tooltip" aria-hidden="true" />');
  var tooltip;
  var slider  = $('.slider > div').slider({
    range: "min",
    value: 7,
    min: 1,
    max: 10,
    step: 1,
    create: function ( event ) {
      $( event.target ).find('.ui-slider-handle').append( tooltipElement );
      tooltip = $('.ui-slider-tooltip');
    },
    change: function ( event, ui ) {
      var input = $( event.target ).parent().find('input.answer');
      input.val( ui.value );
      window.tooltip.text( ui.value );
      window.tooltip.attr('aria-hidden', 'false');
    },
    slide: function ( event, ui ) {
      window.tooltip.attr('aria-hidden', 'true');
    }
  });
});

</script>
