<div class="col-lg-12 graph-container">
                <div class="scene-container">

                    <div class="scene" data-point-count="10" id="points" data-point="8">

                        <div class="a1to2 point"><a href="a1to2"><%= image_tag("Arrow1.png", size: "50x100") %></a></div>

                        <div class="a1to3 point"><a href="a1to3"><%= image_tag("Arrow2.png", size: "90x60") %></a></div>

                        <div class="ideas point" data-id="1" data-name="your ideas">
                            <a data-href="1" data-toggle="tooltip" data-container=".main-container" href="#your_ideas" data-original-title="" title=""><%= image_tag("signal-4.png") %>
                            </a>
                        </div>

                        <div class="business point" data-id="3" data-name="automated tests">
                            <a data-href="3" data-toggle="tooltip" data-container=".main-container" href="#automated_tests" data-original-title="" title=""><%= image_tag("business-man-2.png") %>
                            </a>
                        </div>

                        <div class="light point in visited" data-id="4" data-name="code review">
                            <a data-href="4" data-toggle="tooltip" data-container=".main-container" href="#code_review" data-original-title="" title=""><%= image_tag("light-bulb-14.png") %>
                            </a>
                        </div>

                        <div class="point gear in visited" data-id="5" data-name="staging server">
                            <a data-href="5" data-toggle="tooltip" data-container=".main-container" href="#staging_server" data-original-title="" title=""><%= image_tag("gear-6.png") %>
                            </a>
                        </div>

                        <div class="point setting in visited" data-id="6" data-name="quality assurance">
                            <a data-href="6" data-toggle="tooltip" data-container=".main-container" href="#quality_assurance" data-original-title="" title=""><%= image_tag("setting.png") %>
                            </a>
                        </div>

                        <div class="point magnifier in visited" data-id="7" data-name="product">
                            <a data-href="7" data-toggle="tooltip" data-container=".main-container" href="#product" data-original-title="" title=""><%= image_tag("magnifier-6.png") %>
                            </a>
                        </div>

                        <div class="cup point in active" data-id="8" data-name="measure">
                            <a data-href="8" data-toggle="tooltip" data-container=".main-container" href="#measure" data-original-title="" title=""><%= image_tag("cup.png") %>
                            </a>
                        </div>

                        <div class="chart point in" data-id="9" data-name="data">
                            <a data-href="9" data-toggle="tooltip" data-container=".main-container" href="#data" data-original-title="" title=""><%= image_tag("bar-chart-up-3.png") %>
                            </a>
                        </div>

                        <div class="building point in" data-id="10" data-name="learn">
                            <a data-href="10" data-toggle="tooltip" data-container=".main-container" href="#learn" data-original-title="" title=""><%= image_tag("building-3.png") %>
                            </a>
                        </div>

                        <div class="money point in" data-id="9" data-name="data">
                            <a data-href="9" data-toggle="tooltip" data-container=".main-container" href="#data" data-original-title="" title=""><%= image_tag("money-2.png") %>
                            </a>
                        </div>

                        <div class="char point in" data-id="9" data-name="data">
                            <a data-href="9" data-toggle="tooltip" data-container=".main-container" href="#data" data-original-title="" title=""><%= image_tag("bar-chart-up-3.png") %>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
</div>
