<div class="homepage">
  <%= link_to t('nl'), nl_path  %> | <%= link_to t('fr'), fr_path %> | <%= link_to t('en'), en_path %>
  </br>
  <%= t('hello') %>
  </br>
  <%= link_to t('new_manager'), new_corporation_path  %>
</div>

<%= render "circle_schema" %>
