
<div class = "container">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h2 class="text-center"><%= t('all_personnalities') %></h2></div>
    <div class="col-md-4"></div>
  </div>


  <%= for i in (1..4) do %>
    <div class="row text-center " style="padding-top: 20px;height:100px"><h3>Analystes</h3></div>
    <div class="row" style="height:200px,">
      <div class="col-md-3 pesro">
        <img class="personality img-responsive" src="http://lorempixel.com/400/200"/>
        <h4 class = "text-center"><%= t('category' + i.to_s) %></h4>
        <h5></h5>
        <br>
        <p class = "text-center"><%= t('category' + i.to_s + '_text') %></p>
      </div>

      <div class="col-md-3 perso">
        <img class="personality img-responsive" src="http://lorempixel.com/400/200" />
        <h4 class = "text-center"><%= t('category' + (i+4).to_s) %></h4>
        <h5></h5>
        <br>
        <p class = "text-center"><%= t('category' + (i+4).to_s + '_text') %></p>
      </div>

      <div class="col-md-3 perso">
        <img class="personality img-responsive" src="http://lorempixel.com/400/200" />
        <h4 class = "text-center"><%= t('category' + (i+8).to_s) %></h2>
        <h5></h5>
        <br>
        <p class = "text-center"><%= t('category' + (i+8).to_s + '_text') %></p>
      </div>

      <div class="col-md-3 perso">
        <img class="personality img-responsive" src="http://lorempixel.com/400/200" />
        <h4 class = "text-center"><%= t('category' + (i+12).to_s) %></h3>
        <h5></h5>
        <br>
        <p class = "text-center"><%= t('category' + (i+12).to_s + '_text') %></p>
      </div>

    </div>
  <% end %>

</div>


